
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

.all-container{
    margin-top: 2rem;
    display: flex;
    width:100%;
    justify-content: space-around;
}

.one-media-image{
    width: 100%;
    max-height: 500px;
    max-width: 400px;;
    object-fit: cover;
    object-position: center;
    padding: 0;
    border-radius: 5px;
    margin-left: 20px;
}

.single-title{
    color: rgb(220, 65, 128);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 30px;
    padding: 0px;
}

.info{
    color: rgb(233, 217, 223);
    font-family: 'Quicksand', sans-serif;
    max-width: 50%;
    margin-left: 30px;
    margin-bottom: 10px;
}

.review-div{
    margin-left: 50%;
    border: 1px solid rgb(220, 65, 128);
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgb(37, 29, 37);
    padding: 20px;
    min-width: 53%;
}

.review-header{
    color: rgb(233, 217, 223);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    max-width: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 24%;

}

.review-title{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.add-rev-container{
    margin-left: 50% ;
    margin-bottom: 10px;
}

.review-buttons{
    padding-top: 10px;
}
