@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.shelf-title{
    display: flex;
    justify-content: flex-start;
    color: rgb(220, 65, 128);
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(37, 29, 37);
    border: 1px solid rgb(220, 65, 128);
    max-width: 9rem;
}

.btn-container{
    margin-left: 5px;
}
