@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(220, 65, 128);
    font-family: 'Quicksand', sans-serif;
    margin: 10px;
    font-size: 30px;
}

.media-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;

}

.image-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 450px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(220, 65, 128);
    padding-bottom: 20px;

}

.media-image:hover{
    transform: scale(1.025)
}
.title{
    padding: 10px;
}
.media-image{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    padding: 0;
    border-radius: 5px;
}
