.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13%;
    width: 900px;
}

.color-bar{
    background-color: rgb(37, 29, 37, 0.5);
    width: 100%;
}

@media screen and (max-width: 775px){
    .carousel-container{
        width: 100%;
        margin-left: 0px;
    }
   .one-media-image{
        max-height: 400px;
        max-width: 300px;
        margin: 10px;
   }
    
}