.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    width: 900px;
}

.color-bar{
    background-color: rgb(37, 29, 37, 0.5);
    width: 100%;
}
