@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.desc{
    font-family: 'Quicksand', sans-serif;
    color: rgb(233, 217, 223);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.btn-div{
    margin-bottom: 10%;
    margin-top: 40px;
}

.logo-container{
    display: flex;
    justify-content: center;
}
