@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.signup-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 29, 37);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    min-width: 300px;
    padding: 80px;
    padding-top: 30px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(220, 65, 128);
}

ul{
    list-style-type: none;
    color:rgb(207, 155, 255);
    font-family: 'Quicksand', sans-serif;
}

h2{
    color: rgb(220, 65, 128);
    font-family: 'Quicksand', sans-serif;
    margin: 2px;
}

.email-input{
    margin-bottom: 10px;
}

.sign-up{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    background-color: rgb(220, 65, 128);
    color: white;
    border-radius: 5px;
    border: none;
}

.sign-up:hover{
    background-color: rgb(221, 124, 163);
}


@media screen and (max-width: 775px){
    .signup-container{
        margin-top: 30%;
        min-width: 100px;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 60px;
        padding-right: 60px;
    }

}