@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.login-btn{
    padding: 5px;
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    background-color: rgb(220, 65, 128) !important;
    color: white;
    border-radius: 5px;
    height: 20px !important;
    width: 20px !important;
}




li{
    padding: 5px;
}

#nav-btns{
    display:flex;
    background-color: rgb(220, 65, 128)
}
